.bg-body-tertiary{
    display: flex;
    position: static;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #D4AF37 !important;
}
.linkTo{
    text-decoration: none;
    color: black;
}